.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            margin-bottom: 16px;
            list-style: none;
            background-color: #13151d;
            
            &__question {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &:after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, 1s ease;
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                }
                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, 1s ease;

                    ul {
                        list-style-type: disc;
                        margin-top: 16px;
                        padding-left: 40px;
                        letter-spacing: .2px;

                        li {
                            margin-top: 16px;
                        }
                    }
                    
                    .margin-top {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}